<div class="container">
  <h1>Welcome to Ruby Racer!</h1>

<form action="/creategame" Method="POST">
   <label>Player 1: <input type="name" name="player1_name" placeholder="Player 1 Name"></label>
   <label>Player 2: <input type="name" name="player2_name" placeholder="Player 2 Name"></label>
   <input type="submit" value="submit">
 </form>

</div>
